/* FITBA */
.zoom {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.zoom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondo-contacto.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 60px;
    margin-left: 20px;
    padding: 20px;
}

.overlay h1 {
    font-size: 3rem;
    margin: 0;
}

.overlay p {
    font-size: 1.25rem;
    margin: 10px 0 0;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

iframe {
    border: 1px solid #333 !important; 
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 10px 15px 30px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* PROYECTO ENSEÑANZA*/
.fondoEnse {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoEnse::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoEnse.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

.fondoWeb{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoWeb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoWeb.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

.fondoJuego{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoJuego::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoJuego.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

.fondoIA{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoIA::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoIA.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

/* IPC */
.galeria {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center;
    margin: 20px;
  }
  
  
  .item-galeria {
    width: 400px; 
    height: 300px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
  }
  
  
  .item-galeria img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }

  @media (max-width: 768px) {
    .galeria {
      flex-direction: column;
      gap: 15px;
    }
  
    .item-galeria {
      width: 100%;
      height: auto;
    }
  
    .item-galeria img {
      height: auto;
    }
  }

  .fondoIPC{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoIPC::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoIPC.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

.fondoJuan{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoJuan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoJuan.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    animation: zoomInOut 4s ease-in-out infinite;
}

.timeline > li .timeline-image{
    background-color: #6c9abf;
    border: 8px solid #338cad;
}

.timeline > li .timeline-panel2 {
    padding: 20px 20px 20px 20px;
    align-items: center;
    margin-right: 0;
    background-color: #31b5e589;
    border-radius: 2000px;
    border: 5px solid #6c9abf;

  }

  .fondoProyectos{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoProyectos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoProyectos.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

.fondoPublicaciones{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoPublicaciones::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoPublicaciones.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}

.fondoCV{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondoCV::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/fondoCV.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    animation: zoomInOut 4s ease-in-out infinite;
}
.iframe-video {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si hay altura suficiente */
    padding-bottom: 20px;
}

/* Ajustar el tamaño del video */
.contenedor-video{
    position: relative;
    width: 90%;  /* Ajustamos el ancho al 90% de la pantalla */
    max-width: 1200px;  /* Lo hacemos más grande */
    padding-bottom: 50%; /* Mantiene la proporción 16:9 */
    height: 0;
    overflow: hidden;
}

.contenedor-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}